body {
  min-height: 100vh;
  background-color: #4F4F4F;
}

.bigContainer {
  padding: auto;
  position: fixed;

  /*left: 0;
  right: 0;
  bottom: 0;*/
}



.feature-icon {
    width: 4rem;
    height: 4rem;
    border-radius: .75rem;
  }
  
  .icon-link > .bi {
    margin-top: .125rem;
    margin-left: .125rem;
    fill: currentcolor;
    transition: transform .25s ease-in-out;
  }
  .icon-link:hover > .bi {
    transform: translate(.25rem);
  }
  
  .icon-square {
    width: 3rem;
    height: 3rem;
    border-radius: .75rem;
  }
  
  .text-shadow-1 { text-shadow: 0 .125rem .25rem rgba(0, 0, 0, .25); }
  .text-shadow-2 { text-shadow: 0 .25rem .5rem rgba(0, 0, 0, .25); }
  .text-shadow-3 { text-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .25); }
  
  .card-cover {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  /*  cover nav bar*/
.bd-placeholder-img {
font-size: 1.125rem;
text-anchor: middle;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

@media (min-width: 768px) {
.bd-placeholder-img-lg {
    font-size: 3.5rem;
}
}

/* header */
.form-control-dark {
    border-color: var(--bs-gray);
  }
  .form-control-dark:focus {
    border-color: #fff;
    box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
  }
  
  .text-small {
    font-size: 85%;
  }
  
  .dropdown-toggle {
    outline: 0;
  }


  /*nav Bar*/

.nav-link .active{
  color: #FF5F58;
  border-bottom-color: #fff;
}

#rectangle{
  width: 200px;
  height: 100px;
  background-color: #FF5F58;
}

.boxes {
  fill: none;
  stroke: #FF5F58;
  stroke-width: 4;
  stroke-linecap: square;
  position: absolute;
}

#text1{
  border:solid thick white; 
  border-radius: 1em; 
  border-width:3px; 
  padding-left:9px; 
  padding-top:6px; 
  padding-bottom:6px; 
  margin:2px; 
  width:980px;
}

.texts {
  position: absolute;
}

.paragraph {
  font-family: Helvetica;
}

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}
 /* 
  333333
  4F4F4F
FF5F58
  */